page-signup {
   .name{
       padding-top:calc((33/375)*100vw);
      // padding-bottom:calc((30/375)*100vw);
   }
   .input-text{
       margin-left:calc((63/375)*100vw);
       margin-right:calc((63/375)*100vw);
        border-bottom:solid 1px rgba(#ffffff,0.21);
        font-size:3.7vw;

        ::-webkit-input-placeholder {
            text-align: center;
            color:white;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
            color:white;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
            color:white;
        }

        :-ms-input-placeholder {  
            text-align: center; 
            color:white;

        }       
   }

   .warning{
       padding-top:calc((40/375)*100vw);
   }

   .email{
       padding-top:calc((60/375)*100vw);
   }

   .password{
       padding-top:calc((31/375)*100vw);
   }

   .photo{
       padding-top:calc((50/375)*100vw); 
       ion-icon{
            width:calc((90/375)*100vw);
            height:calc((90/375)*100vw);
       }
   }
}
