page-greeting {
    .company{
        font-size:7.2vw;
        color: #41A6FF;
        padding-top:calc((52/667)*100vh);
        padding-bottom:calc((41/667)*100vh);
    }

    .consultant-id{
        padding-bottom:calc((30/667)*100vh);
        font-size:7.2vw;
        color: #41A6FF;
    }
    .greeting{
        font-size:7.2vw;
        color: #60e0c3;
        padding-top:calc((70/667)*100vh);
        padding-bottom:calc((80/667)*100vh);
    }
}
