page-greeting {
    .company{
        font-size:7.2vw;
        color: #41A6FF;
        padding-top:calc((52/667)*100vh);
        padding-bottom:calc((41/667)*100vh);
    }

    .greeting{
        font-size:7.2vw;
        color: #60e0c3;
        padding-top:calc((70/667)*100vh);
        padding-bottom:calc((227/667)*100vh);

        
    }
}
