page-chat-entrance {
    ion-title{
        height:calc((44/667)*100vh);
        background-color:$default-color;
        .toolbar-title-ios{
            color:white !important;
        }
    }
    .greetings{
        font-size:4.5vw;
        color:#74787B;
        padding-bottom: calc((65/667)*100vh);
    }

}
