<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button color="white" ion-button icon-only (click)="exitChat()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="color:white;">
      {{userName}}님의 {{chatInfo.type}}상담
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <!--
   상담을 바로 시작하시겠습니까?
   상담시작  추후연락
    -->

  <ion-list *ngIf="chatInfo.contents">
    <ion-item *ngFor="let chat of chatInfo.contents; let i = index;" no-lines>
        <div class="chat-message" text-right *ngIf="chat.origin == 'consultant'">
          <div class="right-bubble">
            <span class="msg-name"></span>
            <span class="msg-date">{{chat.date | date:'short'}}</span>
            <p text-wrap>{{chat.text}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.origin == 'user'">
          <div class="left-bubble">
            <span class="msg-name">{{userName}}님</span>
            <span class="msg-date">{{chat.date | date:'short'}}</span>
            <p text-wrap>{{chat.text}}</p>
          </div>
        </div>
        <div text-right *ngIf="chat.type=='action' && chat.action=='response' && i==0">
              <button ion-button (click)="responseLater(i)"> 잠시후 연락드리겠습니다.</button>
          </div>        
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer style="background-color:#AEB6BD;">
  <ion-grid>
    <ion-row>
      <ion-col col-2 align-self-center *ngIf="actionHide" (click)="showActionButtons(true)">
        <ion-icon style="color:white;" name="md-add"></ion-icon>
      </ion-col>
      <ion-col col-2 align-self-center *ngIf="!actionHide" (click)="showActionButtons(false)">
        <ion-icon style="color:white;" name="md-close"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row style="background-color:white;border-radius:5vw;" >
          <ion-col col-10>
              <ion-input  type="text" [(ngModel)]="data.message" (ionFocus)="focus()" name="message"></ion-input>            
          </ion-col>
          <ion-col col-2 (click)="sendMessage()">
              <ion-icon style="color:#41A6FF;" name="paper-plane"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="actionHide">
      <ion-col>
        <button  ion-button round (click)="doAction('연체예방법')">연체예방법</button>
      </ion-col>
      <ion-col>
        <button  ion-button round (click)="doAction('납입방법')">납입방법</button>
      </ion-col>      
    </ion-row>
    <ion-row [hidden]="actionHide">
      <ion-col>
        <button  ion-button round (click)="doAction('청구서류')">청구서류</button>
      </ion-col>
      <ion-col>
        <button  ion-button round (click)="doAction('납입확인')">납입확인</button>
      </ion-col>
    </ion-row>          
  </ion-grid>
</ion-footer>

