<!--
  Generated template for the CustomerListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>
     <ion-row class="title">
      <ion-col text-right align-self-center col-7>
      고객관리
      </ion-col>
      <ion-col text-class="sort"  col-5>
      <ion-select text-right [(ngModel)]="sortValue" style="max-width:100%;"interface="popover">
          <ion-option value="character" (click)="sortByCharacter()">가나다순</ion-option>
          <ion-option value="contact" (click)="sortByContact()" >최근연락순</ion-option>    
        </ion-select>
      </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-row>
<ion-col align-self-center class="filter" text-center>
<ion-select text-center  [style.color]="selectColor()" [(ngModel)]="filter" interface="action-sheet">
    <ion-option value="twoMonth">2개월 연체 고객</ion-option>
    <ion-option value="oneMonth">1개월 연체 고객</ion-option>
    <ion-option value="all">전체고객</ion-option>    
  </ion-select>
</ion-col>
</ion-row>

<div class="customer" *ngIf="filter=='twoMonth'">
<ion-row *ngFor="let user of storage.userTwoMonthList;let i = index;" > 
  <ion-col col-3 style="font-size:4.2vw;" align-self-center>
    <button ion-button clear style="color:black;" (click)="moveToCustomerInfo()">
      {{user.name}} 님
    </button>
  </ion-col>
  <ion-col col-4 style="font-size:4.2vw;color:#707981;" align-self-center>
    {{user.birth}} 
  </ion-col>
  <ion-col col-3 text-right style="font-size:4.8vw;color:#aacdec;" align-self-center>
    <a [href]="user.phone"><b><ion-icon name="ios-call-outline"></ion-icon></b></a> 
  </ion-col>
  <ion-col col-2 style="font-size:4.8vw;color:#aacdec;" align-self-center>
    <button ion-button clear><b><ion-icon name="ios-chatbubbles"></ion-icon></b></button>
  </ion-col>
</ion-row>
</div>

<div class="customer" *ngIf="filter=='oneMonth'">
<ion-row *ngFor="let user of storage.userOneMonthList;let i = index;" >
  <ion-col col-3 padding style="font-size:4.2vw;" align-self-center>
       {{user.name}} 님
  </ion-col>
  <ion-col col-4 style="font-size:4.2vw;color:#707981;" align-self-center>
     {{user.birth}} 
  </ion-col>
  <ion-col col-3 text-right style="font-size:4.8vw;color:#aacdec;" align-self-center>
    <a [href]="user.phone"><b><ion-icon name="ios-call-outline"></ion-icon></b></a> 
  </ion-col>
  <ion-col col-2 style="font-size:4.8vw;color:#aacdec;" align-self-center>
    <button ion-button clear><b><ion-icon name="ios-chatbubbles-outline"></ion-icon></b></button>
  </ion-col>
</ion-row>
</div>

<div class="customer" *ngIf="filter=='all'">
<ion-row *ngFor="let user of storage.userList;let i = index;">
  <ion-col col-3 padding style="font-size:4.2vw;" align-self-center>
      {{user.name}} 님
  </ion-col>
  <ion-col col-4 style="font-size:4.2vw;color:#707981;" align-self-center>
     {{user.birth}} 
  </ion-col>
  <ion-col col-3 text-right style="font-size:4.8vw;color:#aacdec;" align-self-center>
    <a [href]="user.phoneHref"><b><ion-icon name="ios-call-outline"></ion-icon></b></a> 
  </ion-col>
  <ion-col col-2 style="font-size:4.8vw;color:#aacdec;" align-self-center>
    <button ion-button clear><b><ion-icon name="ios-chatbubbles"></ion-icon></b></button>
  </ion-col>
</ion-row>

</div>
</ion-content>
