page-calendar {
    ion-title{
        height:calc((44/667)*100vh);
        background-color:white;
        .toolbar-title-ios{
            color:#191919 !important;
        }
    }

    ion-calendar{
        padding: 0px;
    }

    .event{
        margin-left:calc((10/375)*100vw);
        margin-right:calc((10/375)*100vw);
        margin-top:0;
        margin-bottom:calc((4/375)*100vw);
    }

    .month-button{
        background-color:white;
    }
/////////////////////////////////////////////
    td{
        border-color:white !important;
        border-radius: 50% !important;
        text-align:center;
        font-size:3.4vw;
    }
    tr{
        border-color:white !important;
    }
    th{
        border-color:white !important;
        border-bottom-color:#f2f2f2 !important;
    }
    table{
        font-size:3.4vw !important;
    }

    .monthview-selected{
        background-color: #41a6ff !important;
        color: white;
    }

   .monthview-primary-with-event.monthview-selected{
        background-color: #41a6ff !important;
        color: white;
   }

    .monthview-primary-with-event{
        background-color: orange !important;
        color: white;        
    }

    td.monthview-current {
        background-color: gray !important;
        color: white;
    }
}
