<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button color="white" ion-button icon-only (click)="exitChat()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="color:white;">
      {{chatInfo.type}}상담
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content>
<ion-list *ngIf="chatInfo.contents">
    <ion-item *ngFor="let chat of chatInfo.contents; let i = index;" no-lines>
        <div class="chat-message" text-right *ngIf="chat.origin == 'user'">
          <div class="right-bubble">
            <span class="msg-name"></span>
            <span class="msg-date">{{chat.date | date:'short'}}</span>
            <p text-wrap>{{chat.text}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.origin == 'consultant'">
          <div class="left-bubble">
            <span class="msg-name"></span>
            <span class="msg-date">{{chat.date | date:'short'}}</span>
            <p text-wrap>{{chat.text}}</p>
          </div>
        </div>    
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer style="background-color:#AEB6BD;">
  <ion-grid>
    <ion-row>
      <!--
      <ion-col col-2 align-self-center>
        <ion-icon style="color:white;" name="md-add"></ion-icon>
      </ion-col>
      -->
      <ion-col>
        <ion-row style="background-color:white;border-radius:5vw;" >
          <ion-col col-10>
              <ion-input  type="text" [(ngModel)]="data.message" (ionFocus)="focus()" name="message"></ion-input>            
          </ion-col>
          <ion-col col-2 (click)="sendMessage()">
              <ion-icon style="color:#41A6FF;" name="paper-plane"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

