page-customer-contact {
    ion-title{
        height: calc((26/667)*100vh);;
        font-family: NotoSansKR;
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #009fe8;
        background-color:white;
        .toolbar-title-ios{
            color:$default-color !important;
        }
        border-bottom:solid 1px #f5f5f5;
    }
  .request{
        margin-left:calc((10/375)*100vw);
        margin-right:calc((10/375)*100vw);
        margin-top:0;
        margin-bottom:calc((4/375)*100vw);
        border-radius: calc((5/375)*100vw);
  }

  .button-name{
        font-family: NotoSansKR;
        font-size: 4.2vw;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
  }

  .button-chars-2{
        width:calc((32/375)*100vw);

  }

  .button-chars-4{
        width:calc((64/375)*100vw);

  }
/////////////////////////////////////////////  
    $scroll-H:  calc((30/375)*100vw);
    $latest-W : calc((145/375)*100vw);
    $latest-H : calc((30/375)*100vw);

    .scroll-latest {
        height: $scroll-H;
        .scroll-content{
            padding: 0;
        }
    }

    .scroll-div{
        .scroll-row-latest{
            flex-wrap : inherit;
            height: $latest-H;
            margin-left: 10px;
            margin-right: 10px;

            .scroll-col-latest {
                overflow: inherit; 
                height: $latest-H;
                margin-right: 9px;
            }
        }    
    } 
    .shop-button{
            height: $latest-H;
            //background-color:white;
            //color:$default-color;
    }


}
