page-customer-contact {
    ion-title{
        height:calc((44/667)*100vh);
        background-color:white;
        .toolbar-title-ios{
            color:$default-color !important;
        }
    }
  .request{
        margin-left:calc((10/375)*100vw);
        margin-right:calc((10/375)*100vw);
        margin-top:0;
        margin-bottom:calc((4/375)*100vw);
  }
}
