page-password-reset {
    .app-name{
        padding-top:calc((71/375)*100vw);
        padding-bottom:calc((130/375)*100vw);
        font-size:7.2vw;
        letter-spacing: -0.7pt;
        color:$default-color;
    }

     .login-button{
        margin-top:calc((50/375)*100vw);
        margin-left:calc((48/375)*100vw);
        margin-right:calc((48/375)*100vw);
        width:calc((280/375)*100vw);
        font-size:calc((20/375)*100vw);
        border-radius:44.5pt;
        color:#41A6FF;
        border:solid 1pt white;
        background-color: rgba(255, 255, 255, 0.4);

    }

     .input-text{
        margin-left:calc((48/375)*100vw);
        margin-right:calc((48/375)*100vw);
        border-bottom:solid 1px white;
        font-size:3.7vw;
        color:white;
        ::-webkit-input-placeholder {
            text-align: center;
            color:white;
        }

        :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
            color:white;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;
            color:white;  
        }

        :-ms-input-placeholder {  
            text-align: center;
            color:white; 
        }
    }

    ion-content{
          background-image: linear-gradient(331deg, #ffef00, rgba(173, 212, 73, 1) 44%, rgba(0, 156, 228, 0.99));
    }
}
