<ion-header>
  <ion-navbar>
    <ion-title>
     800M
    </ion-title>
     <ion-buttons end>
      <button color="white" ion-button icon-only (click)="configureBounds()">
        <ion-icon name="md-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="message">
    <ion-col text-center>
       <b> 안정적인 재무관리가 필요하신가요?<br>
        고객님을 위한 플랜이 준비되어 있습니다.</b>
    </ion-col>
  </ion-row>

<ion-row class="action-buttons">
    <ion-col text-right col-7>
        <button style="color:#fff89b;" ion-button outline round (click)="openChat()"> 상담시작하기</button>
    </ion-col>

    <ion-col col-2 align-self-center style="color:#fff89b;">
      <a [href]="storage.consultantPhoneHref"  style="color:#fff89b;" round ion-button outline>
        <ion-icon style="color:#fff89b;" name="ios-call"></ion-icon>
      </a>
    </ion-col>
    <ion-col col-3>
    </ion-col>
</ion-row>

<ion-row>
  <ion-col col-1>
    &nbsp;
  </ion-col>
<ion-col style="color:#969696;">
  최근 납부 /미납 내역
</ion-col>
</ion-row>

<ion-scroll class="payment-region" scrollY="true">
<ion-row *ngFor="let insurance of storage.insurances" class="payment" style="font-size:4.2vw;">
  <ion-col col-2 align-self-center text-center>{{insurance.month}} 월</ion-col>
  <ion-col col-5 align-self-center >{{insurance.name}}</ion-col>
  <ion-col col-2 align-self-center *ngIf="insurance.premium==true">납부</ion-col>
  <ion-col col-3 align-self-center *ngIf="insurance.premium==true"> </ion-col>
  <ion-col col-2 align-self-center text-center *ngIf="insurance.premium==false" style="color:#f95b5b;"> 미납 <br><span style="font-size:3.4vw;">{{insurance.monthPremium}}</span> </ion-col>
  <ion-col col-3 align-self-center text-left *ngIf="insurance.premium==false"> <button class="pay-button"  (click)="withdrawal(insurance)" ion-button outline round>납부</button></ion-col>
</ion-row>
<div class="dummy">
</div>
</ion-scroll>
</ion-content>
