<ion-header no-padding no-margin>
    <ion-row class="title">
      <ion-col col-2>
      </ion-col>
      <ion-col class="app-name" text-center style="color:#009fe8;font-size:4.5vw;">
        800M
      </ion-col>
      <ion-col text-center col-2>
      <button style="color:#000000" clear ion-button icon-only (click)="configureBounds()">
        <ion-icon name="md-settings"></ion-icon>
        <!--
        <custom-icon set="go800m" name="profile" ></custom-icon>
        -->
      </button>        
      </ion-col>
    </ion-row>


    <div class="container">
    <div  class="button">
      <div>
        <ion-row>    
          <ion-col text-center class="explain" style="color:#868686;">
                  고객님을 위한 플랜이 <br>준비되어 있습니다.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button style="color:#009fe8;" class="open-chat" ion-button clear round (click)="openChat()"> 
              상담시작하기>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    </div>

    <ion-row class="action-buttons">
      <ion-col text-center align-self-center style="color:#fff89b;">
        <a [href]="storage.consultantPhoneHref"  style="border-color:white;" round ion-button outline>
          <ion-icon style="color:#009fe8;" name="ios-call"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content>
<div padding style="color:#989b9d;font-size:4vw;" *ngIf="storage.chatList.length>0">
나의 상담기록
</div>
<div class="chat-info" *ngFor="let chat of storage.chatList">
<ion-row class="date-row">
  <ion-col col-1 text-right align-self-center>
 <!-- 
    <span class="dot"></span>
  -->
  </ion-col>
  <ion-col class="date" text-left>
    {{chat.timeString}}
  </ion-col>
</ion-row>
<ion-row>
  <ion-col no-padding no-margin col-1 text-right>
  </ion-col>
  <ion-col no-padding no-margin class="chat-title">
    <button no-padding no-margin ion-button clear (click)="enterChat(chat)"> {{chat.type}}<span style="color:#505355">상담문의</span> </button>
  </ion-col>
  <ion-col col-1>
  </ion-col>
</ion-row>
</div>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 
<!--
<ion-row>
  <ion-col col-1>
    &nbsp;
  </ion-col>
<ion-col style="color:#969696;">
  최근 납부 /미납 내역
</ion-col>
</ion-row>

<ion-scroll class="payment-region" scrollY="true">
<ion-row *ngFor="let insurance of storage.insurances" class="payment" style="font-size:4.2vw;">
  <ion-col col-2 align-self-center text-center>{{insurance.month}} 월</ion-col>
  <ion-col col-5 align-self-center >{{insurance.name}}</ion-col>
  <ion-col col-2 align-self-center *ngIf="insurance.premium==true">납부</ion-col>
  <ion-col col-3 align-self-center *ngIf="insurance.premium==true"> </ion-col>
  <ion-col col-2 align-self-center text-center *ngIf="insurance.premium==false" style="color:#f95b5b;"> 미납 <br><span style="font-size:3.4vw;">{{insurance.monthPremium}}</span> </ion-col>
  <ion-col col-3 align-self-center text-left *ngIf="insurance.premium==false"> <button class="pay-button"  (click)="withdrawal(insurance)" ion-button outline round>납부</button></ion-col>
</ion-row>
<div class="dummy">
</div>
</ion-scroll>
-->
</ion-content>
