page-home {

    .toolbar-background-ios {
        background: #41a6ff;
        color:white;
    }

    .toolbar-title-ios {
        color:white;        
    }
    .title{
        background: #41a6ff;        
    }
    .app-name{
        padding-top:calc((20/375)*100vw);
        font-style: NotoSansKR-Black;
    }

    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
         border-width: 0px; 
    }

    .action-buttons{
        background-color: #41a6ff;
        color:  #fff89b;
        .button-outline-ios {
            border-color: #fff89b;
        }  
        padding-bottom:calc((20/375)*100vw); 
    }

    .message{
        padding-top:calc((70/375)*100vw); 
        padding-bottom:calc((66/375)*100vw); 
        background: #41a6ff;
        color:white;   
        font-size:4.5vw;     
    }

    .pay-button{
        height: calc((34/375)*100vw);
        padding-left:calc((17/375)*100vw);
        padding-right:calc((17/375)*100vw);
        font-size:4.2vw;
    }

    .payment{
        height:calc((54/375)*100vw);
    }

    .payment-region{
        height: 50vh;
    }
    .dummy{
        height:10vh;
    }

    .date-row{
        padding-top:calc((18/375)*100vw);
    }

    .date{
        font-style:NotoSansKR-Regular;
        font-size:3.7vw;
        color:rgb(162, 162, 162);
    }

    .chat-title{
        font-style:NotoSansKR-Regular;
        font-size:3.7vw;
        color:rgb(42, 42, 42);
        border-bottom:solid 1px rgb(222,222,222);
        padding-bottom:calc((14/375)*100vw);
    }

    .dot {
        height: 4px;
        width: 4px;
        background-color:rgb(0 ,193, 97);
        border-radius: 50%;
        display: inline-block;
    }
    
}
